html, body {
    height: 100%;
}

#map {
    width: 100%;
    height: 600px;
}

#header-row {
    span {
        float: right;
        margin-right: 10px;
        &.title {
            float: left;
            font-weight: bold;
            font-size: 200%;
        }
    }
}

#avatar {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 2.85em;
    right: 20px;
    z-index: 100;
}
