{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
{% endblock %}

{% block bodyel %}
class="fill"
{% endblock %}

{% block body %}
    <div class="container-fluid">
      <div id="header-row" class="row">
        <span class="title">Caracas</span>
        {% if user.is_authenticated %}
          <span><a id="logout" href="{% url 'character:logout' %}"> Logout </a></span>
        {% else %}
          <!-- <a href="login">Log in</a> -->
        {% endif %}
        <span id="settings"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> </span>
<!--           <span id="search-box" class="input-group">
             <input type="text" class="form-control" placeholder="Search for...">
             <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-search" type="button">
                </button>
             </span>
          </span>
-->
        <span id="search-box"> <input type="text" placeholder="Search"><button class="btn btn-default glyphicon glyphicon-search" type="button"></button> </span>
      </div>
      <div id="avatar">

          <div id="charsheet">
              <div id="username">{{ character.user.username }}</div>
              <div id="userimage"><img src="{{ character.image.url }}"></div>
              <a onclick="javascript:$('#avatar').animate({'height': '450px'}, 100);" href="#">&#x25BC;</a>
          </div>
          
          <div class="buttons">
              <button class="btn" onclick="javascript:window.loadCharacterBar('{% url 'character:overview' %}')">Achievements</button>
              <button class="btn" onclick="javascript:window.loadCharacterBar('{% url 'character:places' %}')">Places</button>
              <button class="btn">Quests</button>
              <button class="btn">Knowledge</button>
          </div>

      </div>
      <div id="dumping-ground"></div>
      <div class="row">
      </div>
    </div>
    <div id="map"></div>


{% endblock %}

{% block after_body %}
  <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
  <script type="text/javascript">
    var map = L.map('map').setView([{{ latitude | default:"51.2457"}}, {{ longitude | default:"6.7681"}}], 15);
    // L.tileLayer('//{s}.tile.osm.org/{z}/{x}/{y}.png', {
    L.tileLayer('//stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.png', {
        maxZoom: 18
    }).addTo(map);
  </script>
  <script type="text/javascript" src="{% static "map.js" %}"></script>
{% endblock %}
